@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');
p {
    font-style: normal;
    font-size: 3.0rem;
    font-family: 'Ruslan Display', cursive, serif;
}
#logo {
    float: left;
    width: 50%;
}
#right-column {
    float: right;
    width: 50%;
}
iframe {
    width: 100%;
}